@charset "utf-8";

* {
    text-align: center;
}

select { 
    font-size: 15px; /* 글자 크기 */
    padding: 12px; /* 내부 여백 */
    width: 150px; /* 선택 박스 크기 (가로) */
    margin-bottom: 20px; /* 외부 박스 여백 설정 (아래) */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 올리면 손가락 커서로 변경 */
}

/* 이미지 반응형 */
img {
    max-width: 100%;
    height: auto;
}

/* 모바일 (화면 너비 768px 이하) */
@media screen and (max-width: 768px) {
    select {
        width: 100%;
        max-width: 200px;
    }
}
